
/*general*/
.root{
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(242, 240, 235);
}

/*index*/
.card{
    transition: .5s;
}
.card:hover{
    transform: scale(110%);
}
.card.Petición{
    background-color: rgb(194, 111, 66);
    color: white;
}
.card.Oferta{
    background-color: rgb(111, 66, 193);
    color: white;
}

/*login*/
#login{
    width: 25rem;
    background-color: rgb(206, 206, 247);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

/*voluntariados*/
.title-gestion{
    text-align: center;
    margin-top: 2rem;
}
#voluntariados-grid{
    padding: 2rem;
}
#voluntariados-titulo{
    font-weight: bold;
    text-align: center;
}

/*usuarios*/
.title-gestion{
    text-align: center;
    margin-top: 2rem;
}
#voluntariados-grid{
    padding: 2rem;
}
#usuarios-titulo{
    font-weight: bold;
    text-align: center;
}
#email{
    word-wrap: break-word;
}